.aboutCon {
    background-color: #FFF;
    @extend %flexHCenter;
    padding: 100px 0;

    .about {
        width: 800px;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;

        img {
            width: 140px;
            align-self: center;
            border-radius: 50%;
        }

        h3 {
            margin-top: 25px;
            margin-bottom: 15px;
            @include heebo(35px, 900);
        }

        p {
            @include heebo (20px, 400);
            color: $barelyGrey;
            padding-bottom: 20px;
        }

        .button {
            height: 40px;
            width: 250px;
            background-color: $primaryColor;
            border-radius: 20px;
            align-self: center;

            a {
                text-decoration: none;
                @include heebo(20px, 700);
                color: $barelyGrey;
                line-height: 2;

                &:hover {
                    color: #fff;
                }
            }
        }
    }
}

.galleryCon {
    background-color: $actuallyGrey;
    padding-top: 120px;
    padding-bottom: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;


    h3 {
        @include heebo(36px, 900);
        color: $barelyGrey;
        margin-bottom: 20px;
    }

    p {
        @include heebo(20px, 400);
        width: 570px;
        color: $barelyGrey;
        text-align: center;
        margin-bottom: 90px;
    }

    .gallery {
        width: 70vw;
        display: grid;
        grid-template-columns: repeat(3, 21vw);
        grid-template-rows: auto auto;
        gap: 3.5vw;

        .cardCon {
            display: flex;
            justify-content: center;

            &:nth-child(5) {
                .card {
                    img {
                        object-fit: cover;
                        object-position: top;
                    }
                }
            }
        }

        .card {
            border-radius: 3%;
            height: 27vw;
            text-align: center;

            .card-body {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            img {
                border-radius: 3% 3% 0 0;
                height: 12vw;
                width: 100%;
            }

            h5 {
                @include heebo(23px, medium);
                margin-bottom: 20px;
            }

            p {
                width: 88%;
                @include heebo(16px, 400);
                margin-bottom: 25px;
            }

            .cardTools {
                display: flex;
                flex-direction: row-reverse;
                justify-content: center;
                margin-bottom: 20px;

                img {
                    width: 1.35vw;
                    height: 1.35vw;
                    margin: 0 10px;
                }
            }

            .btn {
                height: 30px;
                width: 152px;
                background-color: $primaryColor;
                border-radius: 15px;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    border: 2px solid #008c94;

                    a {
                        color: #FFF;
                    }
                }

                a {
                    color: $barelyGrey;
                    @include heebo(14px, 900);
                    text-decoration: none;
                }
            }

        }
    }
}

.socialSection {
    background-color: #1AE0EC;
    display: flex;

    .socialCon {
        margin: 50px auto 40px;
        width: 60vw;
        display: flex;
        justify-content: space-between;

        .iconCon {
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: 40px;
                height: 40px;
                margin-bottom: 20px;
            }

            p {
                @include heebo(14px, 400);
                color: #2C2C2C;
                text-align: center;
            }
        }
    }
}

.contactCon {
    background-color: $barelyGrey;
    display: flex;
    overflow: hidden;
    justify-content: space-around;



    .contact {
        width: 90vw;
        display: flex;
        justify-content: space-between;

        .formCon {
            margin: 13.5vh auto;
            width: 30vw;
            display: flex;
            flex-direction: column;

            h3 {
                @include heebo(36px, 900);
                color: #FFF;
                margin-bottom: 6px;
            }

            p {
                @include heebo(20px, 400);
                color: #FFF;
                margin-bottom: 50px;
            }

            form {
                display: flex;
                flex-direction: column;

                label {
                    @include heebo(16px, 700);
                    color: #FFF;
                    margin-top: 15px;
                    margin-bottom: 3px;
                }

                input {
                    border: none;
                    height: 45px;
                    border-bottom: 4px solid $primaryColor;
                }

                .longerInput {
                    height: 100px;
                }
            }

            .sendButton {
                margin-top: 30px;
                height: 50px;
                width: 170px;
                background-color: $primaryColor;
                color: $barelyGrey;
                @include heebo(22px, 700);
                text-align: center;
                line-height: 2;
                border-radius: 25px;

                &:hover {
                    color: #FFF;
                }
            }
        }

        img {
            width: 40vw;
            height: 35vw;
        }
    }
}

@media screen and (max-width:570px) {
    .aboutCon {
        .about {
            img {
                width: 140px;
                height: 140px;
            }

            h3 {
                font-size: 25px;

            }

            p {
                font-size: 15px;
                padding: 6vw;
                margin-bottom: 20px;
            }

            .button {
                width: 135px;
                height: 28px;

                a {
                    font-size: 10px;
                }
            }
        }
    }

    .galleryCon {
        padding-top: 80px;
        padding-bottom: 120px;

        h3 {
            font-size: 25px;
        }

        p {
            font-size: 15px;
            width: 90vw;
        }

        .gallery {
            display: flex;
            flex-direction: column;
            width: 90vw;

            .cardCon {
                width: 100%;
                margin-bottom: 3vh;
            }

            .card {
                height: 65vh;

                img {
                    height: calc(90vw*9/16);
                }

                .card-body {

                    h5 {
                        font-size: 16px;
                        margin-bottom: 0;
                    }

                    p {
                        padding: 16px;
                        margin-bottom: 0;
                    }

                    .cardTools {
                        img {
                            width: 7vw;
                            height: 7vw;
                            margin-bottom: 0;
                        }
                    }

                    .btn {
                        width: 130px;
                        height: 25px;

                        a {
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }

    .contactCon {
        .contact {
            flex-direction: column-reverse;

            .formCon {
                width: 80vw;
                margin: 0 auto 70px;

                h3 {
                    font-size: 25px;
                }

                p {
                    font-size: 15px;
                    margin-bottom: 30px;
                }

                form {
                    label {
                        font-size: 12px;
                    }

                    input {
                        height: 28px;
                    }

                    .longerInput {
                        height: 57px;
                    }
                }

                .sendButton {
                    width: 95px;
                    height: 28px;
                    font-size: 12px;
                    line-height: 2.5;
                }
            }

            img {
                align-self: flex-end;
            }
        }
    }

    .socialSection {
        .socialCon {
            width: 70vw;
            flex-wrap: wrap;
            justify-content: space-around;

            .iconCon {
                width: 35vw;
                margin: 5vw 0;

                img {
                    width: 30px;
                    height: 30px;
                    margin-bottom: 12px;
                }

                p {
                    font-size: 10px;
                }
            }
        }
    }
}