* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}
@media screen and (max-width: 1280px) {
  html {
    font-size: 6.6666666667px;
  }
}
@media screen and (min-width: 2560px) {
  html {
    font-size: 13.3333333333px;
  }
}
@media screen and (min-width: 3840px) {
  html {
    font-size: 20px;
  }
}

.aboutCon, .navBarCon {
  display: flex;
  justify-content: center;
}

.navBarCon {
  background-color: #FFF;
  border-top: 0.33rem solid #1AE0EC;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.45);
  text-align: center;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
}
.navBarCon .navBar {
  width: 70vw;
  height: 7vh;
  background-color: #FFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navBarCon .navBar .hamburger {
  display: none;
}
.navBarCon .navBar a {
  text-decoration: none;
  color: #000;
}
.navBarCon .navBar .logoDesktop {
  display: flex;
  justify-content: end;
  align-items: center;
  font-family: "Croissant One";
  font-size: 2.4rem;
}
.navBarCon .navBar .logoDesktop img {
  height: 6rem;
  margin-right: 2rem;
  border-radius: 50%;
}
.navBarCon .navBar .logoMobile {
  display: none;
}
.navBarCon .navMenu {
  width: 25vw;
  display: flex;
  align-items: right;
  justify-content: space-between;
}
.navBarCon .navMenu a {
  text-align: center;
  font-family: Heebo;
  font-size: 2.4rem;
  font-weight: 400;
}
.navBarCon .navMenu a:hover {
  color: #1AE0EC;
}

.spacer {
  height: 7vh;
  margin-top: -7vh;
  visibility: hidden;
}

#navMobile {
  display: none;
}

.titleCon {
  background-color: rgba(19, 232, 241, 0.3882352941);
  display: flex;
  height: 46rem;
}
.titleCon .title {
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titleCon .title h2,
.titleCon .title p {
  color: #3A3A3A;
}
.titleCon .title h2 {
  font-family: Heebo;
  font-size: 8rem;
  font-weight: 900;
}
.titleCon .title p {
  font-family: Heebo;
  font-size: 2rem;
  font-weight: medium;
  width: 84.4rem;
}
.titleCon .title .buttonsCon {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
}
.titleCon .title .buttonsCon .projectButton {
  background-color: #1AE0EC;
  height: 4rem;
  width: 20rem;
  text-align: center;
  border-radius: 2rem;
  margin: 0 2rem;
  display: flex;
}
.titleCon .title .buttonsCon .projectButton:hover {
  border: 0.2rem solid #008c94;
}
.titleCon .title .buttonsCon .projectButton:hover a {
  color: #FFF;
}
.titleCon .title .buttonsCon .projectButton a {
  margin: auto;
  color: #3A3A3A;
  font-family: Heebo;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2;
  text-decoration: none;
}

.toolsCon {
  background-color: #FFF;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  height: 7vh;
}
.toolsCon .tools {
  width: 70vw;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
@media screen and (max-width: 570px) {
  .toolsCon .tools {
    width: 90vw;
  }
}
.toolsCon .tools img {
  height: 7vh;
}
.toolsCon .toolsProject {
  width: 70vw;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 25vw;
  justify-content: space space-around;
}
@media screen and (max-width: 570px) {
  .toolsCon .toolsProject {
    width: 90vw;
  }
}
.toolsCon .toolsProject img {
  height: 7vh;
}

@media screen and (max-width: 570px) {
  .navBarCon {
    flex-wrap: wrap;
  }
  .navBarCon .navBar {
    width: 90vw;
  }
  .navBarCon .navBar .hamburger {
    display: block;
  }
  .navBarCon .navBar .hamburger .bar {
    width: 30px;
    height: 4px;
    border-radius: 3px;
    margin: 5px 0;
    background-color: #1AE0EC;
  }
  .navBarCon .navBar .navMenu {
    display: none;
  }
  .navBarCon .navBar .navMenu a {
    display: none;
  }
  .navBarCon .navBar .logoDesktop {
    display: none;
  }
  .navBarCon .navBar .logoMobile {
    display: block;
  }
  .navBarCon .navBar .logoMobile img {
    width: 40px;
    border-radius: 50%;
  }
  .titleCon {
    height: 330px;
  }
  .titleCon .title h2 {
    font-size: 46px;
  }
  .titleCon .title p {
    font-size: 15px;
    width: 90vw;
  }
  .titleCon .title .buttonsCon .projectButton {
    width: 134px;
    height: 26px;
    margin: 0 12px;
  }
  .titleCon .title .buttonsCon .projectButton a {
    font-size: 12px;
  }
  #navMobile {
    display: none;
    height: 93vh;
    width: 100vw;
  }
  #navMobile nav {
    margin: auto;
    height: 80vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  #navMobile nav a {
    margin: 5vh 0;
    font-family: Heebo;
    font-size: 26px;
    font-weight: 200;
    text-decoration: none;
    color: #3A3A3A;
  }
  #navMobile nav a:hover {
    color: #1AE0EC;
    border-bottom: 1px solid #1AE0EC;
  }
  .toolsCon {
    height: auto;
  }
  .toolsCon .tools {
    flex-wrap: wrap;
  }
  .toolsCon .tools img {
    width: 15vw;
    height: 15vw;
  }
  .toolsCon .toolsProject {
    justify-content: space-around;
  }
  .toolsCon .toolsProject img {
    width: 15vw;
    height: 15vw;
    margin: 0;
  }
}
.aboutCon {
  background-color: #FFF;
  padding: 100px 0;
}
.aboutCon .about {
  width: 800px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.aboutCon .about img {
  width: 140px;
  align-self: center;
  border-radius: 50%;
}
.aboutCon .about h3 {
  margin-top: 25px;
  margin-bottom: 15px;
  font-family: Heebo;
  font-size: 35px;
  font-weight: 900;
}
.aboutCon .about p {
  font-family: Heebo;
  font-size: 20px;
  font-weight: 400;
  color: #3A3A3A;
  padding-bottom: 20px;
}
.aboutCon .about .button {
  height: 40px;
  width: 250px;
  background-color: #1AE0EC;
  border-radius: 20px;
  align-self: center;
}
.aboutCon .about .button a {
  text-decoration: none;
  font-family: Heebo;
  font-size: 20px;
  font-weight: 700;
  color: #3A3A3A;
  line-height: 2;
}
.aboutCon .about .button a:hover {
  color: #fff;
}

.galleryCon {
  background-color: #F6F6F6;
  padding-top: 120px;
  padding-bottom: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.galleryCon h3 {
  font-family: Heebo;
  font-size: 36px;
  font-weight: 900;
  color: #3A3A3A;
  margin-bottom: 20px;
}
.galleryCon p {
  font-family: Heebo;
  font-size: 20px;
  font-weight: 400;
  width: 570px;
  color: #3A3A3A;
  text-align: center;
  margin-bottom: 90px;
}
.galleryCon .gallery {
  width: 70vw;
  display: grid;
  grid-template-columns: repeat(3, 21vw);
  grid-template-rows: auto auto;
  gap: 3.5vw;
}
.galleryCon .gallery .cardCon {
  display: flex;
  justify-content: center;
}
.galleryCon .gallery .cardCon:nth-child(5) .card img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.galleryCon .gallery .card {
  border-radius: 3%;
  height: 27vw;
  text-align: center;
}
.galleryCon .gallery .card .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.galleryCon .gallery .card img {
  border-radius: 3% 3% 0 0;
  height: 12vw;
  width: 100%;
}
.galleryCon .gallery .card h5 {
  font-family: Heebo;
  font-size: 23px;
  font-weight: medium;
  margin-bottom: 20px;
}
.galleryCon .gallery .card p {
  width: 88%;
  font-family: Heebo;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 25px;
}
.galleryCon .gallery .card .cardTools {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin-bottom: 20px;
}
.galleryCon .gallery .card .cardTools img {
  width: 1.35vw;
  height: 1.35vw;
  margin: 0 10px;
}
.galleryCon .gallery .card .btn {
  height: 30px;
  width: 152px;
  background-color: #1AE0EC;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.galleryCon .gallery .card .btn:hover {
  border: 2px solid #008c94;
}
.galleryCon .gallery .card .btn:hover a {
  color: #FFF;
}
.galleryCon .gallery .card .btn a {
  color: #3A3A3A;
  font-family: Heebo;
  font-size: 14px;
  font-weight: 900;
  text-decoration: none;
}

.socialSection {
  background-color: #1AE0EC;
  display: flex;
}
.socialSection .socialCon {
  margin: 50px auto 40px;
  width: 60vw;
  display: flex;
  justify-content: space-between;
}
.socialSection .socialCon .iconCon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.socialSection .socialCon .iconCon img {
  width: 40px;
  height: 40px;
  margin-bottom: 20px;
}
.socialSection .socialCon .iconCon p {
  font-family: Heebo;
  font-size: 14px;
  font-weight: 400;
  color: #2C2C2C;
  text-align: center;
}

.contactCon {
  background-color: #3A3A3A;
  display: flex;
  overflow: hidden;
  justify-content: space-around;
}
.contactCon .contact {
  width: 90vw;
  display: flex;
  justify-content: space-between;
}
.contactCon .contact .formCon {
  margin: 13.5vh auto;
  width: 30vw;
  display: flex;
  flex-direction: column;
}
.contactCon .contact .formCon h3 {
  font-family: Heebo;
  font-size: 36px;
  font-weight: 900;
  color: #FFF;
  margin-bottom: 6px;
}
.contactCon .contact .formCon p {
  font-family: Heebo;
  font-size: 20px;
  font-weight: 400;
  color: #FFF;
  margin-bottom: 50px;
}
.contactCon .contact .formCon form {
  display: flex;
  flex-direction: column;
}
.contactCon .contact .formCon form label {
  font-family: Heebo;
  font-size: 16px;
  font-weight: 700;
  color: #FFF;
  margin-top: 15px;
  margin-bottom: 3px;
}
.contactCon .contact .formCon form input {
  border: none;
  height: 45px;
  border-bottom: 4px solid #1AE0EC;
}
.contactCon .contact .formCon form .longerInput {
  height: 100px;
}
.contactCon .contact .formCon .sendButton {
  margin-top: 30px;
  height: 50px;
  width: 170px;
  background-color: #1AE0EC;
  color: #3A3A3A;
  font-family: Heebo;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  line-height: 2;
  border-radius: 25px;
}
.contactCon .contact .formCon .sendButton:hover {
  color: #FFF;
}
.contactCon .contact img {
  width: 40vw;
  height: 35vw;
}

@media screen and (max-width: 570px) {
  .aboutCon .about img {
    width: 140px;
    height: 140px;
  }
  .aboutCon .about h3 {
    font-size: 25px;
  }
  .aboutCon .about p {
    font-size: 15px;
    padding: 6vw;
    margin-bottom: 20px;
  }
  .aboutCon .about .button {
    width: 135px;
    height: 28px;
  }
  .aboutCon .about .button a {
    font-size: 10px;
  }
  .galleryCon {
    padding-top: 80px;
    padding-bottom: 120px;
  }
  .galleryCon h3 {
    font-size: 25px;
  }
  .galleryCon p {
    font-size: 15px;
    width: 90vw;
  }
  .galleryCon .gallery {
    display: flex;
    flex-direction: column;
    width: 90vw;
  }
  .galleryCon .gallery .cardCon {
    width: 100%;
    margin-bottom: 3vh;
  }
  .galleryCon .gallery .card {
    height: 65vh;
  }
  .galleryCon .gallery .card img {
    height: 50.625vw;
  }
  .galleryCon .gallery .card .card-body h5 {
    font-size: 16px;
    margin-bottom: 0;
  }
  .galleryCon .gallery .card .card-body p {
    padding: 16px;
    margin-bottom: 0;
  }
  .galleryCon .gallery .card .card-body .cardTools img {
    width: 7vw;
    height: 7vw;
    margin-bottom: 0;
  }
  .galleryCon .gallery .card .card-body .btn {
    width: 130px;
    height: 25px;
  }
  .galleryCon .gallery .card .card-body .btn a {
    font-size: 10px;
  }
  .contactCon .contact {
    flex-direction: column-reverse;
  }
  .contactCon .contact .formCon {
    width: 80vw;
    margin: 0 auto 70px;
  }
  .contactCon .contact .formCon h3 {
    font-size: 25px;
  }
  .contactCon .contact .formCon p {
    font-size: 15px;
    margin-bottom: 30px;
  }
  .contactCon .contact .formCon form label {
    font-size: 12px;
  }
  .contactCon .contact .formCon form input {
    height: 28px;
  }
  .contactCon .contact .formCon form .longerInput {
    height: 57px;
  }
  .contactCon .contact .formCon .sendButton {
    width: 95px;
    height: 28px;
    font-size: 12px;
    line-height: 2.5;
  }
  .contactCon .contact img {
    align-self: flex-end;
  }
  .socialSection .socialCon {
    width: 70vw;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .socialSection .socialCon .iconCon {
    width: 35vw;
    margin: 5vw 0;
  }
  .socialSection .socialCon .iconCon img {
    width: 30px;
    height: 30px;
    margin-bottom: 12px;
  }
  .socialSection .socialCon .iconCon p {
    font-size: 10px;
  }
}
.creditsCon {
  background-color: #000;
  height: 60px;
  display: flex;
  justify-content: space-between;
  border-bottom: 6px solid #1AE0EC;
}
.creditsCon p {
  color: #1AE0EC;
  font-family: Heebo;
  font-size: 20px;
  font-weight: 200;
  margin: auto 15px;
}

@media screen and (max-width: 570px) {
  .creditsCon {
    height: 30px;
    border-bottom: 3px solid #1AE0EC;
  }
  .creditsCon p {
    font-size: 9px;
    margin: auto 8px;
  }
}/*# sourceMappingURL=main.css.map */